# Ignore datasets and generated artifacts
models/
results/
notebooks/
data/
references/

# Ignore Python cache and environment files
__pycache__/
*.pyc
amc_env/
.vscode/

# Ignore OS-specific files
.DS_Store
models2/
