# Core ML & Scientific Computing
# tensorflow and numpy are provided by the base NGC container
scikit-learn

# Data Handling & Analysis
pandas
kaggle

# Visualization
matplotlib
seaborn
tqdm

# Development & Tooling
# h5py is required for saving Keras models in.h5 format
h5py
